.quiz-container {
  text-align: center;
  background-image: url('https://th.bing.com/th/id/OIP.drAkYIGUtDO70Ez8nTEnNQHaEK?rs=1&pid=ImgDetMain');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  overflow: hidden;
}

.countdown {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.car-animation {
  position: relative;
  margin-bottom: 20px;
}

.quiz-content {
  text-align: left;
  margin-top: 20px;
  max-height: 60vh;
  overflow-y: auto;
  width: 80%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.quiz-title {
  font-size: 2rem;
  font-weight: bold;
}

.question-container {
  margin-bottom: 20px;
}

.error-message {
  color: red;
}

.restart-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #45a049;
}

.finish-message,
.crash-message {
  font-size: 1.5rem;
  font-weight: bold;
}
